/** Убираем зависимость от отступов **/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** Делаем основной контейнер display: flex **/

.guide-content {
  display: flex;
  flex-wrap: wrap;
}

/** Новые стили для ссылок **/

a:link,
a:visited {
  color: #3f3ccb;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #302683;
  text-decoration: underline;
}

/** Убираем ломание верстки на мобильных **/

.chapter h2 {
  word-break: break-word;
}

/** Добавляем "отступы" для якорей **/

.chapter h3[id]::before {
  display: block;
  height: 2rem;
  margin-top: -2rem;
  visibility: hidden;
  content: "";
}

/** Делаем базовый сайдбар **/

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar a {
  display: block;
  color: #5a5a5a;
}

.sidebar a:hover {
  color: #3f3ccb;
}

.sidebar-col > a {
  font-size: 1.75rem;
  line-height: 1.25;
}

.sidebar-menu {
  padding-left: 1rem;
}

/** Псевдоэлементы для полифилла **/

.sidebar::before,
.sidebar::after {
  content: "";
  display: table;
}

/** Базовые стили для колонок сайдбара **/

.sidebar-col {
  padding: 2rem 1rem;
}

.sidebar-col + .sidebar-col {
  border-top: 1px solid #e5e5e5;
}

.chapters {
  width: 100%;
}

/** > 768px **/

@media (min-width: 48em) {
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .sidebar-col {
    width: 50%;
    padding: 1rem 3rem;
  }

  .sidebar-col + .sidebar-col {
    border-top: 0;
  }
}

/** > 1200px **/

@media (min-width: 75em) {
  .chapters {
    width: calc(100% - 230px);
  }

  .sidebar {
    position: -webkit-sticky;
    position: sticky; /* Делаем сайдбар "Липким" */
    top: 0; /* Прижимаем к верхнему краю окна при схватывании */
    bottom: 0;  /* Прижимаем к нижниму краю окна при схватывании */
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: flex-start;
    width: 230px;
    height: 100vh; /* Даем возможность появлению прокрутки */
    overflow-y: auto;
    padding: 0 25px;
    line-height: 1.25;
    border-right: 1px solid #e5e5e5;
  }

  .sidebar-col {
    width: 100%;
    padding: 0;
    flex-shrink: 0; /* Убираем баг в ie, не определяющий 100vh */
  }

  .sidebar-col-first {
    padding-top: 1.75rem; /* Убираем баг в ie и firefox, добавляя отступ сверху у сайдбара */
  }

  .sidebar-col-last {
    padding-bottom: 1.75rem; /* Убираем баг в ie и firefox, добавляя отступ снизу у сайдбара */
  }

  .sidebar-col + .sidebar-col {
    margin-top: 1.75em;
  }

  .sidebar-col > a {
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
  }

  .sidebar-menu {
    padding: 0;
    margin: 0.5em 0 0;
    list-style: none;
    font-size: 0.7rem;
  }

  .sidebar-menu li {
    margin: 0;
    line-height: 1.45;
  }

  .sidebar-menu a {
    display: block;
    padding: 0.25em 0;
  }
}
