<h4>Протокол ресурса</h4>
<p>
  Если сайт поддерживает оба протокола <code>http:</code> и <code>https:</code>, то при запросе файлов в HTML через полный URL часть с протоколом из адреса можно исключить. Это сделает URL относительным и избавит от проблем с доступом, а также немного сократит запись.
</p>
<p>
  Если сайт подерживает только один из протоколов, в URL лучше явно указывать соответствующий.
</p>
