<h4>Семантическая разметка</h4>
<p>
  В разметке должны использоваться семантические теги HTML.
</p>
<p>
  Параграфы текста должны помещаться в тег <code>&lt;p&gt;</code>. Тег <code>&lt;br&gt;</code> должен применяться по назначению.
</p>
