<h4>Минималистичность разметки</h4>
<p>
  В разметке должно быть использовано минимальное возможное количество элементов. Не должно быть лишних оберток и блоков, которые используются для оформления и могут быть заменены на псевдоэлементы.
</p>
