footer {
  padding: 2rem;

  background-color: var(--brand-color-dark);
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-full {
  display: inline-block;
  width: 161px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.social-icons,
.github {
  font-size: 0;
}

.icon {
  min-width: 2rem;
  min-height: 2rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% - 5px);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &-vk {
    background-image: resolve("icon-vkontakte.svg");
  }

  &-fb {
    background-image: resolve("icon-facebook.svg");
  }

  &-tw {
    background-image: resolve("icon-twitter.svg");
  }

  &-ig {
    background-image: resolve("icon-instagram.svg");
  }
}

.github-link {
  display: inline-block;
  width: 91px;
  height: 16px;

  background-image: resolve("copyright.svg");
}
