header {
  padding: 1rem 1rem 6rem;

  text-align: center;

  background-color: var(--brand-color);
  background-image:
    repeating-linear-gradient(150deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06) 1px, transparent 0, transparent 41px),
    repeating-linear-gradient(-150deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06) 1px, transparent 0, transparent 41px);

  @media (--viewport-medium) {
    padding-bottom: 4rem;
  }

  h1 {
    margin: 0 0 0.25rem;

    color: var(--light-color);
  }
}

.logo {
  width: 300px;
  height: 300px;
}
