/* override default prism theme */
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
}

pre[class*="language-"] {
  margin: 0;
  padding: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: initial;
}
