:root {
  --base-px-size: 16px;
  --large-px-size: calc(var(--base-px-size) * 1.25);

  --brand-color: #312785;
  --brand-color-dark: #2d2d44;

  --dark-color: #5a5a5a;
  --darker-color: color(var(--dark-color) blackness(+50%));

  --subtle-color: #e5e5e5;

  --light-color: #ffffff;
  --light-subtle-color: color(var(--subtle-color) lightness(+8%));
  --lighter-subtle-color: color(var(--subtle-color) lightness(+5%));
}

@custom-media --viewport-large (min-width: 48em);
@custom-media --viewport-medium (min-width: 38em);
