<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> css/recomendations/css-selectors ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-css">
        {{~> css/examples/css-selectors-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> css/recomendations/css-important ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-css">
        {{~> css/examples/css-important-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> css/recomendations/css-shorthand ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-css">
        {{~> css/examples/css-shorthand-example ~}}
      </code></pre>
    </figure>
  </div>
</article>
