<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/recomendations/html-minimal-markup ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-minimal-markup-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/recomendations/html-semantics ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-semantics-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/recomendations/html-protocol ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-protocol-example ~}}
      </code></pre>
    </figure>
  </div>
</article>
