<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-syntax ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-syntax-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-validator ~}}
  </div>
</article>
<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-doctype ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-doctype-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-encoding ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-encoding-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-style-includes ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-style-includes-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-js-includes ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-js-includes-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-attribute-order ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-attribute-order-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-boolean ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-boolean-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-form-labels ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-form-labels-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-img-sizes ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-img-sizes-example ~}}
      </code></pre>
    </figure>
  </div>
</article>

<article class="chapter-part">
  <div class="chapter-part-col">
    {{~> html/rules/html-language ~}}
  </div>
  <div class="chapter-part-col">
    <figure>
      <pre><code class="language-markup">
        {{~> html/examples/html-language-example ~}}
      </code></pre>
    </figure>
  </div>
</article>
