<h4 id="html-validator">Валидность</h4>
<p>
  Документ должен проходить проверку на&nbsp;валидность. Для проверки используется <a href="http://validator.w3.org/nu/" target="_blank">современный валидатор</a>.
</p>
