<h4>Подключение скриптов</h4>
<p>
  Скрипты должны подключаться в&nbsp;самом низу страницы, чтобы при её&nbsp;загрузке не&nbsp;блокировать отображение содержимого.
</p>
<p>
  При подключении скриптов в&nbsp;теге <code>&lt;script&gt;</code> атрибут <code>type</code> не&nbsp;указывается, так как его значение <code>text/javascript</code> устанавливается по&nbsp;умолчанию.
</p>
