<h4 id="css-font-variant">Варианты шрифта</h4>
<p>
  Альтернативные варианты шрифта и&nbsp;тип семейства указываются в&nbsp;конце перечисления <code>font-family</code>.
</p>
<p>
  В&nbsp;случае использования нестандартных шрифтов альтернативный веб-безопасный шрифт и&nbsp;тип семейства указываются, чтобы в&nbsp;случае отсутствия нестандартного шрифта в&nbsp;системе, изменения внешнего вида страницы были минимальны. Альтернативный шрифт должен быть такого&nbsp;же типа, что и&nbsp;нестандартный.
</p>
<p>
  Порядок шрифтов следующий:
</p>
<ol>
  <li>нестандартный шрифт;</li>
  <li>веб-безопасный;</li>
  <li>тип шрифта.</li>
</ol>
<p>
  Список веб-безопасных шрифтов можно посмотреть здесь&nbsp;&mdash; <a href="http://www.cssfontstack.com" target="_blank">cssfontstack.com</a>.
</p>
