<h4 id="css-vertical-align">Указание <code>vertical-align</code></h4>
<p>
  Значение <code>vertical-align</code> должно быть <i>явно</i> указано для блоков с <code>display: inline-block</code>.
</p>
<p>
  Значение по&nbsp;умолчанию, <code>baseline</code>, может приводить к&nbsp;странному отображению блочно-строчных элементов. Например, когда в&nbsp;ряд стоят несколько элементов с&nbsp;разным количеством строк.
</p>
<p>
  Если вы&nbsp;хотите, чтобы элементы выравнивались по&nbsp;умолчанию, то&nbsp;явно укажите для <code>vertical-align</code> значение <code>baseline</code>. Это позволит другим понять, что вы&nbsp;знаете об&nbsp;особенностях отображения элементов с&nbsp;таким выравниванием и&nbsp;задали его намеренно.
</p>
