/* Chapter */

.chapters {
  width: 100%;
}

.chapter h2 {
  padding: 2rem 1rem;
  word-break: break-word;
  background-color: #e5e5e5;
}

.chapter h3[id]::before {
  display: block;
  height: 2rem;
  margin-top: -2rem;
  visibility: hidden;
  content: "";
}

.chapter-part {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}

.chapter-part-col {
  padding: 2rem 1rem;
}

.chapter-part-col figure {
  margin: 0 1rem 0 0;
}

.chapter-part-col p {
  max-width: 32rem;
}

.chapter-part-col + .chapter-part-col {
  border-top: 1px solid #e5e5e5;
}

.gray-bgcolor {
  background-color: #fafafa;
}

@media (min-width: 38em) {
  .chapter h2 {
    padding: 2rem 2rem 2.5rem;
  }

  .chapter-part-col {
    padding: 2rem;
  }
}


@media (min-width: 48em) {
  .chapter h2 {
    padding: 2rem 3rem 2.5rem;
  }

  .chapter-part {
    flex-direction: row;
  }

  .chapter-part-col {
    width: 50%;
    padding: 3rem 1.5rem;
  }

  .chapter-part-col--full-width {
    width: 100%;
  }

  .chapter-part-col + .chapter-part-col {
    border-top: 0;
  }
}

@media (min-width: 75em) {
  .chapters {
    width: calc(100% - 230px);
  }
}
