*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #5a5a5a;
  background-color: #ffffff;
}

a:link,
a:visited {
  color: #3f3ccb;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #302683;
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin: 0;

  font-weight: normal;
  color: #424242;
  letter-spacing: -0.025em;
}

h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  scroll-margin-top: 20px;
}

ul li {
  margin-bottom: 0.25rem;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
