footer {
  padding: 2rem;
  background-color: #2d2d44;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-full {
  display: inline-block;
  width: 161px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1rem 0;
}

.social-icons,
.github {
  font-size: 0;
}

.icon {
  min-width: 2rem;
  min-height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: calc(100% - 5px);
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
}

.icon-vk {
  background-image: url("../../img/icon-vkontakte.svg");
}

.icon-fb {
  background-image: url("../../img/icon-facebook.svg");
}

.icon-tw {
  background-image: url("../../img/icon-twitter.svg");
}

.icon-ig {
  background-image: url("../../img/icon-instagram.svg");
}

.github-link {
  display: inline-block;
  width: 91px;
  height: 16px;
  background-image: url("../../img/github.svg");
}
