<footer>
  <div class="contacts">
    <a class="logo-full" href="https://htmlacademy.ru">
      <img src="{{resolve 'logo-full.svg'}}" width="161" height="55" alt="HTML Academy">
    </a>
    <div class="social-icons">
      <a class="icon icon-vk" href="https://vk.com/htmlacademy" target="_blank">
        Вконтакте
      </a>
      <a class="icon icon-fb" href="https://www.facebook.com/htmlacademy" target="_blank">
        Facebook
      </a>
      <a class="icon icon-tw" href="https://twitter.com/htmlacademy_ru" target="_blank">
        Twitter
      </a>
      <a class="icon icon-ig" href="https://instagram.com/htmlacademy" target="_blank">
        Instagram
      </a>
    </div>
    <div class="github">
      <a class="github-link" href="https://github.com/htmlacademy" target="_blank">
        GitHub
      </a>
    </div>
  </div>
</footer>
