<header>
  <a href="https://htmlacademy.ru" target="_blank">
    <img class="logo" src="{{resolve 'bane.svg'}}" width="300" height="300" alt="HTML Academy" title="HTML Academy">
  </a>
  <h1>Стиль кода Академии HTML</h1>
</header>
