<header>
  <a href="https://htmlacademy.ru" target="_blank">
    <img class="logo" src="{{resolve 'logo.svg'}}" width="100" height="127" alt="HTML Academy">
  </a>
  <h1>Стиль кодирования Академии HTML</h1>
</header>
