<h4>Использование <code>!important</code></h4>
<p>
  В большинстве случаев необходимость использования <code>!important</code> в CSS возникает из-за неправильного обращения к элементам страницы через каскад. Однако, в редких случаях, без использования <code>!important</code> не обойтись.
</p>
<p>
  Подробнее в статье: <a href="http://meiert.com/en/blog/20150310/important/" target="_blank">http://meiert.com/en/blog/20150310/important/</a>.
</p>
