<h4>Сокращенная запись</h4>
<p>Cокращенные объявления не используются в тех случаях, когда это может косвенно переопределить другие значения. Наиболее часто злоупотребляют сокращением следующих свойств:</p>
<ul>
  <li>
    <code>padding</code>
  </li>
  <li>
    <code>margin</code>
  </li>
  <li>
    <code>border-radius</code>
  </li>
  <li>
    <code>border</code>
  </li>
  <li>
    <code>font</code>
  </li>
  <li>
    <code>background</code>
  </li>
</ul>
<p>
  Сокращённые свойства, где элементы значений однотипные (например,
  <code>margin:&nbsp;10px&nbsp;15px;</code> или
  <code>padding:&nbsp;1px&nbsp;2px&nbsp;3px;</code>) сложнее воспринимать, чем отдельные свойства (<code>margin-top:&nbsp;10px; padding-top: 1px;</code>).
</p>
<p>
  Свойства с разнотипными элементами значений (например,
  <code>border: 1px solid #000000;</code>) в сокращённом виде считываются легче – их можно сокращать, если нет опасности переопределить другие значения.
</p>
