<h4>Селекторы</h4>
<p>Селекторы должны быть написаны так, чтобы их можно было переиспользовать в дальнейшем. Цепочки селекторов или селекторы с излишней вложенностью не должны создаваться без необходимости — это увеличивает специфичность правил и уменьшает возможность их переиспользования.</p>
<p>Длинные цепочки вложенных селекторов также усложняют код и его поддержку. Хорошим подходом считается использовать вложенность до 2 или 3 уровня. Псевдоэлементы или псевдоклассы не увеличивают уровень вложенности.
</p>
<p>Идентификаторы <code>id</code> для стилизации не используются. Вместо идентификаторов для задания стилей используются селекторы по классам или тегам.</p>
