<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Стиль кода Академии HTML</title>
    <link rel="stylesheet" href="{{resolve 'style.css'}}">
  </head>
  <body>

    <main>
      {{~> header ~}}

      <section class="chapter">
        <h2>HTML</h2>
        {{~> html/html-rules ~}}
      </section>

      <section class="chapter">
        <h2>CSS</h2>
        {{~> css/css-rules ~}}
      </section>

      {{~> footer ~}}
    </main>

    <script src="{{resolve 'app.js'}}"></script>
  </body>
</html>
