<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Стиль кода Академии HTML</title>
    <link rel="stylesheet" href="{{resolve 'style.css'}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@htmlacademy_ru">
    <meta name="twitter:image" content="https://htmlacademy.github.io/codeguide/img/og.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://htmlacademy.github.io/codeguide/">
    <meta property="og:title" itemprop="name" content="Стиль кода Академии HTML">
    <meta property="og:image" itemprop="image" content="https://htmlacademy.github.io/codeguide/img/og.png">
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-29640059-7','auto');ga('send','pageview');</script>
  </head>
  <body>

    <main>
      {{~> header ~}}

      <section class="chapter">
        <h2>Оглавление</h2>
        <article class="chapter-part">
          <div class="chapter-part-col">
            <h4>HTML</h4>
            <ul>
              <li><a href="#html-syntax">Синтаксис</a></li>
              <li><a href="#html-validator">Валидность</a></li>
              <li><a href="#html-doctype">HTML-доктайп</a></li>
              <li><a href="#html-encoding">Кодировка символов</a></li>
              <li><a href="#html-style-includes">Подключение стилей</a></li>
              <li><a href="#html-js-includes">Подключение скриптов</a></li>
              <li><a href="#html-attribute-order">Порядок атрибутов</a></li>
              <li><a href="#html-boolean">Логические атрибуты</a></li>
              <li><a href="#html-form-labels">Подписи полей ввода</a></li>
              <li><a href="#html-img-sizes">Размеры картинок</a></li>
              <li><a href="#html-language">Атрибут языка</a></li>
            </ul>
          </div>
          <div class="chapter-part-col">
            <h4>CSS</h4>
            <ul>
              <li><a href="#css-syntax">Синтаксис</a></li>
              <li><a href="#css-order">Порядок свойств</a></li>
              <li><a href="#css-class-names">Имена классов</a></li>
              <li><a href="#css-import">Правило @import</a></li>
              <li><a href="#css-font-variant">Варианты шрифта</a></li>
            </ul>
          </div>
        </article>
      </section>

      <section class="chapter">
        <h2>HTML</h2>
        {{~> html/html-rules ~}}
      </section>

      <section class="chapter">
        <h2>CSS</h2>
        {{~> css/css-rules ~}}
      </section>

      {{~> footer ~}}
    </main>

    <script src="{{resolve 'app.js'}}"></script>
  </body>
</html>
